* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f0f0f;
  color: white;
}
.container {
  display: flex;
  background-color: #222222;
  justify-content: space-around;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #4f4f4f;
}
/* .container ul li:first-child {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 35px;
} */
.container ul {
  font-family: monospace;
  display: flex;
  list-style: none;
  align-items: center;
  height: 40px;
  gap: 20px;
}
.container ul li a {
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  height: 41px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}
.container ul li a:hover {
  background-color: white;
  color: black;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}

.container .sidebar{
    position:fixed;
    padding: 10px;

    top:0;
    right:0;
    height:100vh;
    width: 250px;
    z-index:999;
    background-color:#2020202d;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    
}
.sidebar a{
    width: 92%;
    border-radius: 5px;
    gap: 0px;
}
.menu{
    fill: white;

}
.menu:hover{
  fill:black;
  transition: 600ms;
}
.close{
  fill: white;

}
.close:hover{
  fill:black;
  transition: 600ms;
}
.showOnPc{
  display: none;
}
@media (max-width:750px) {
  .hideOnMobile{
    display: none;
  }
  .container{
    justify-content: flex-end;
  }
  .showOnPc{
    display: block;
  }
  .logo{
    position: fixed;
    left:0;
    font-size: xx-large;
  }
}


